:root {

    --fill-color: black;

    --indicator-value-color: #63BCF8;

    --indicator-value-shadow-opacity: 0.3; /* oscillates 0.3 - 0.5 */

    --slider-fill-padding-left: 100px;

    --slider-fill-border-left: 0px;

    --slider-fill-padding-right: 0px;

    --slider-fill-border-right: 0px;

    --slider-handle-shadow-opacity: 0.4; /* oscillates 0.4 0.8 */
}
