.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    width: 100%;
    height: 183px;
}

.first-row {
    height: 50px;
}

.second-row {
    height: 20px;
}

.third-row {
    height: 90px;
}

.spacer-1 {
    padding-top: 10px;
}

.spacer-2 {
    padding-top: 10px;
}

.slider {
    width: 200px;
    height: 7px;
    margin: 3px 0 3px 0;
    -moz-appearance: none;
    border-radius: 7px;
    background: #444;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.5);
}

.slider::-moz-range-thumb {
    color: var(--slider-handle-color);
    border: 2px solid;
    width: 15px;
    height: 15px;
    background: #242930;
    border-radius: 100%;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0, var(--slider-handle-shadow-opacity));
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-moz-range-track {
    background: var(--fill-color);
    height: 7px;
    width: 0px;
    padding-left: var(--slider-fill-padding-left);
    border-top-left-radius: var(--slider-fill-border-left);
    border-bottom-left-radius: var(--slider-fill-border-left);
    padding-right: var(--slider-fill-padding-right);
    border-top-right-radius: var(--slider-fill-border-right);
    border-bottom-right-radius: var(--slider-fill-border-right);
}
