:root {
    --indicator-value-shadow-opacity: 0.3; /* oscillates 0.3 - 0.5 */
    --slider-fill-padding-left: 100px;
    --slider-fill-border-left: 0px;
    --slider-fill-padding-right: 0px;
    --slider-fill-border-right: 0px;
    --slider-handle-shadow-opacity: 0.4; /* oscillates 0.4 0.8 */

    /**
    colors
     */
    --color-background: #242930;
    --color-background-soft: #2F353E;
    --color-border: #343434;
    --color-fill: black;
    --color-indicator-value: #63BCF8;
    --color-normal: #63BCF8;
    --color-primary: #808386;
    --color-slider-handle: #808386;
}