.smc-share {
  cursor: pointer;
}

.smc-share:hover {
  color: var(--color-blue);
  transition: color 200ms ease-in-out;
}

.smc-share__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8em;
}
