.smc-step {
  border: 1px solid var(--color-blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.smc-step[type=number] {
  -moz-appearance: textfield;
}
